services:
  - type: web
    name: solana-sniper-bot
    env: python
    region: oregon
    plan: free
    buildCommand: ""
    startCommand: "python3 automated_sniper_bot.py"
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: TELEGRAM_CHAT_IDS
        sync: false
      - key: PORT
        value: "10000"
    autoDeploy: true
